

# StatusCode        : 200
# StatusDescription : OK
# Content           : # Created by https://www.toptal.com/developers/git
#                     ignore/api/node
#                     # Edit at https://www.toptal.com/developers/gitign
#                     ore?templates=node
                    
#                     ### Node ###
#                     # Logs
#                     logs
#                     *.log
#                     npm-debug.log*
#                     yarn-debug.log*
#                     ya...
# RawContent        : HTTP/1.1 200 OK
#                     Connection: keep-alive
#                     CF-RAY: 9761ac075a436d94-AMS
#                     x-robots-tag: noindex, nofollow
#                     cf-cache-status: DYNAMIC
#                     alt-svc: h3=":443"; ma=86400
#                     Content-Length: 2392
#                     Content-Type: text...
# Forms             : 
# Headers           : {[Connection, keep-alive], [CF-RAY, 
#                     9761ac075a436d94-AMS], [x-robots-tag, noindex, 
#                     nofollow], [cf-cache-status, DYNAMIC]...}
# Images            : {}
# InputFields       : {}
# Links             : {}
# ParsedHtml        : 
# RawContentLength  : 2392


    node_modules/
    .next/
    dist/
    build/
